body {
  background-image: url(../pictures/pexels-tyler-lastovich-937782.jpg);
  background-size: cover;
}

p {
  display: inline-block;
}

.page {
  margin: 20px 250px;
  border-radius: 28px;
  padding: 35px 35px 20px 35px;
  background-color: rgba(255, 255, 255, 0.568);
}

.typeCity,
.center {
  text-align: center;
}

.search-text {
  background-color: rgba(255, 255, 255, 0.904);
  padding: 6px 16px;
  font-size: 16px;
  border-color: rgba(0, 0, 0, 0.226);
  border-width: 1px;
  border-radius: 8px;
}

.search-btn,
.current {
  padding: 6px 16px;
  border-color: rgba(0, 0, 0, 0.226);
  border-width: 1px;
  border-radius: 8px;
  color: #a76462;
  transition: transform 0.2s;
}

.search-btn:hover,
.current:hover {
  color: #7c4847;
  transform: scale(1.05);
}

.heading {
  margin-top: 16px;
}

.city-name {
  color: rgba(0, 0, 0, 0.822);
  padding-top: 6px;
  font-size: 31px;
  margin-left: 18px;
  font-weight: 600;
}

.cityName {
  position: relative;
  left: -6px;
}

.heading-item {
  display: block;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
}

.mainPage {
  background-color: rgba(255, 255, 255, 0.966);
  padding: 30px;
  margin: 0 10px 0 10px;
  border-radius: 15px;
  box-shadow: 0 0 7px rgba(75, 75, 75, 0.274);
}

.currentWeather {
  margin-bottom: 10px;
  margin-left: 14px;
  font-size: 17px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.719);
}

.city-temperature {
  font-size: 57px;
}

.weather_description {
  font-size: 20px;
  margin-top: 16px;
  text-transform: capitalize;
}

.icon_current_location {
  font-size: 27px;
  color: #a76462;
  position: relative;
  left: -4px;
}

.main_icon {
  position: relative;
  top: -15px;
  max-width: 85px;
}

.units {
  position: relative;
  top: -30px;
}

.statistics {
  display: inline;
  text-align: center;
  margin-top: 10px;
}

.forecast {
  margin-top: 20px;
  margin-left: 14px;
  font-size: 17px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.808);
  position: relative;
  bottom: -7px;
}

.forecastDays {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.966);
  padding: 15px 5px;
  margin: 0 10px 10px 10px;
  border-radius: 15px;
  box-shadow: 0 0 7px rgba(75, 75, 75, 0.274);
}

.forecastIcon {
  font-size: 40px;
  margin: 12px 0 12px 0;
}

.credit {
  display: block;
  text-align: center;
  font-weight: 500;
  font-family: "Lobster", cursive;
}

.open-source-code {
  color: #a05c59;
  text-decoration: none;
}

.open-source-code:hover {
  color: #7c4847;
  text-decoration: underline;
}

.celsius-link,
.fahrenheit-link {
  color: #a76462;
  text-decoration: none;
  font-weight: 500;
  font-size: 19px;
}

.celsius-link:hover,
.fahrenheit-link:hover {
  color: #7c4847;
  text-decoration: underline;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: black;
}
